.header {
    background: #FCEED5;
 }

.header h1{
    font-size: 100px;
}

.header h2{
    font-size: 50px;
}

.header p{
    font-size: 20px;
}

.left-side,.right-side {
    padding: 20px;
    box-sizing: border-box;
  }
