.navbar-brand{
    padding:30px;
    align-content: center;
    word-break: normal;
    font-size: xx-large;
}

.user-name{
  padding:30px;
  padding-left:170px;
  align-content: right;
  word-break: normal;
  font-size: xx-large;
}

.logo{
    background: #F9CE81;
    padding: 10px;
}
.navbar-nav{
    margin-left: 30vh;
 }

.container-fluid{
    background:#F9CE81;
    align-content: baseline;
    position: flex;
    display: flex;
    /* border-bottom: 1px solid black; */
}



.nav-item{
    padding-top:70px;
    padding: 15px;
    display: inline-block;
    font-size: x-large;
}

.navbar{
    animation: fadein 1s;
    z-index: +1;
    margin: 0 auto 0 auto;
  }
  
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }